alabaster==0.7.12


appdirs==1.4.4
argh==0.26.2

async-generator==1.10
atomicwrites==1.4.0

backports.weakref==1.0.post1

bkcharts==0.2

blinker==1.4

boto==2.49.0
brotlipy==0.7.0
certifi==2021.5.30

click-plugins==1.1.1
cligj==0.5.0


comtypes==1.1.10

contextlib2==0.6.0.post1
cycler==0.10.0
cytoolz==0.11.0

distlib==0.3.1

dj-database-url==0.5.0
Django==3.1.4
django-allauth==0.41.0
django-bootstrap3==15.0.0
django-bootstrap4==3.0.1
django-braces==1.14.0
django-crispy-forms==1.11.2
django-heroku==0.3.1
django-oauth-toolkit==1.5.0
django-rest-framework-social-oauth2==1.1.0
django-summernote==0.8.11.6
django-taggit==1.4.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.4

entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0

Fiona==1.8.13

fonttools==4.25.0

future==0.18.2
GDAL==3.1.2
geopandas==0.8.1

gmpy2==2.0.8

gunicorn==20.1.0
h5py==2.10.0
HeapDict==1.0.1
heroku==0.1.4

jdcal==1.4.1
jedi==0.14.1
jwcrypto==0.8

lesscpy==0.14.0

llvmlite==0.36.0
locket==0.2.1

mccabe==0.6.1

mkl-fft==1.3.0

mkl-service==2.4.0

mpmath==1.2.1
multipledispatch==0.6.0
munch==2.5.0
munkres==1.1.4
mysql-connector-python==8.0.21
navigator-updater==0.2.1

olefile==0.46

parso==0.5.2

pathtools==0.1.2
patsy==0.5.1
pdfkit==0.6.1
pep8==1.7.1
pkginfo==1.7.1
prettytable==0.7.2

protobuf==3.13.0

psycopg2==2.9.1

pycosat==0.6.3

pycrypto==2.6.1
pycurl==7.43.0.6

pygame==1.9.6

pyodbc===4.0.0-unsupported

pyproj==2.6.1.post1
pyreadline==2.1

pytest==6.2.4

python-language-server==0.31.7

pywin32==228

pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0

QtPy==1.9.0

requests-oauthlib==1.3.0

scikit-image==0.18.1
Shapely==1.7.1
simplegeneric==0.8.1

social-auth-app-django==4.0.0
social-auth-core==4.1.0


statsmodels==0.12.2
stripe==2.56.0

tables==3.6.1
tabulate==0.8.9

terminado==0.9.4

unicodecsv==0.14.1

virtualenv==20.4.6

webencodings==0.5.1

whitenoise==5.3.0
widgetsnbextension==3.5.1

win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1

xlwings==0.24.6
xlwt==1.3.0
xmltodict==0.12.0
zict==2.0.0

zope.event==4.5.0
